__pycache__/
.*
!.gitignore
*cache*
*.pyc
*.idea
*.model
*.networkx
*.equip
*.path_comp
*.pickle
*.xlsx
.idea/*
/psse_model_util/*example*
/psse_model_util/old/
/psse_model_util/dataformat.txt
/psse_model_util/psse-model_meta_modified.txt
*deleteme*
# Ignore all files in any directory starting with IDC and containing .raw
IDC*.*
MMWG*.*
/data/IDC*
/data/MMWG*
